body {
    background: white;
  }

h1 {
  font-family: Verdana;
  font-size: 24pt;
  margin-left: 20px;
  margin-bottom: 5px;
}

h2 {
  font-family: Verdana;
  font-size: 14pt;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
}

#logo{ 
	position:fixed; 
	top:0; 
	right:-140px; 
} 

div.quotebox {
    background: pink;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 36pt;
    text-align: center;
    padding: 60px;
    margin-left: -20px;
    margin-right: -20px;
    line-height: 60px;
    font-c
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}