body {
    background: white;
  }

h1 {
  font-family: Verdana;
  font-size: 24pt;
  margin-left: 20px;
  margin-bottom: 5px;
}

h2 {
  font-family: Verdana;
  font-size: 14pt;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
}

#logo{ 
	position:fixed; 
	top:0; 
	right:-140px; 
} 

div.quotebox {
    background: pink;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-size: 36pt;
    text-align: center;
    padding: 60px;
    margin-left: -20px;
    margin-right: -20px;
    line-height: 60px;
}

#profilepic{
  float:left;
  margin-left: -20px;
}

#profiletext{
  float: left;
  padding-top: 70px;
  padding-left: 80px;
  
  margin: auto;
  text-align: center;
  font-family:helvetica;
  font-size: 18pt;
  font-weight:200;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 45%;
  object-fit:contain;
}

#right {
  flex: 1;
  margin: auto;
  text-align: center;
  font-family:helvetica;
  font-size: 20pt;
  font-weight:200;
  line-height:45px;
  padding-left:40px;
  padding-right:40px;
}